/* INICIO GENERAL */
body * {
    border:0px;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

/* MENU */
.navbar{
    background-color: #24a1ac;
    padding-right: 0;
    padding-left: 0;

}

.navbar img{
    width: 40px;
}

/* CARRUSEL */


/* PRESENTACION */
/* CAMBIA COLOR DE LETRA H1 E COLOR ICONO */
#presentacion h1, #presentacion i{
    color: #ffffff;
}

/* ANCHURA DE H1 */
#presentacion h1{
    font-weight: 400;
}

/* COLOR Y SEPARACION DE PARRAFO */
#presentacion p{
    color: #ffffff;
    line-height:25px
}

/* BORDE INFERIOR DE DIV PARA SIMULAR LINEA */
.borde_div{
    border-bottom: 1px solid #24a1ac;
}

.fondo_oscuro{
    background-color: #212121;
}
.fondo_iconos{
    background-color: #24a1ac;
}

/* SECCION DESTACADOS */
#destacados p, #destacados h1{
    color: #ffffff;
}

#destacados p{
    margin-top: 10px;
}

#destacados img{
    height: 170PX;
}

#destacados h4{
    font-size: 19px;
}

.car-body{
    background-color: #24a1ac;
}

.car-body p, .car-body h4{
    color: #ffffff;
}

.card img:hover{
    opacity: 0.5;
}

/* FOOTER */

footer i{
    margin-left: 10px;
}

/* BORDE FALTANTE */
.borde_blanco{
    border: 1px solid #ffffff;
}